
body {
    background-color: #52FF33;
    color:darkgreen;
}

footer {
    border-top: 0.1rem solid darkgreen;
    padding: 1.5rem;
    text-align: center;
    background-color: #52FF33  ;
}

table,
td,
th{
	border: 0.1rem solid white;
	padding: 0.1rem;

}

.img-circle {
    border-radius: 50%;
}