<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects - {% block title %}{% endblock %}</title>
    <style>
        @import "/css/style.css";
        @import "/css/nav.css";
    </style>
</head>
<body>

<br>

    <nav>

        <ul>

        <li>
            <a href="/studentPicChange" >Edit profile photo</a>
        </li>
        <li>
            <a href="/studentInfoChange" >Edit profile info</a>
        </li>
        <li>
            <a href="/logout" >Logout</a>
        </li>

        </ul>
    </nav>





{% block main %}

{% endblock %}

<footer>
    2016 &copy; Deniss Timofeevs solulutions unlimited
</footer>
</body>
</html>
