{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Groups page
{% endblock %}

{# ----------------------------------------#}
{% block groupsNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}

   <h3>The Graphics and Gaming Group (GGG)</h3>

    <p>Welcome to the Gaming and Graphics Group association.</p>
    <br>
    <p>For more details please email to <a href="mailto:someone@example.com" >Administrator</a></p>
    <br>

    <p>Our address is : </p>
    <p>Institute of Technology Blanchardstown, Blanchardstown Road North, Dublin 15</p>
    <p>Tel: +353 (1) 8851000 | Fax: +353 (1) 8851001 </p>

{% endblock %}
