{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Groups page
{% endblock %}

{# ----------------------------------------#}
{% block groupsNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}

   <h3>The Graphics and Gaming Group (GGG)</h3>

    <p>Welcome to the Gaming and Graphics Group association.</p>

{% endblock %}
